<% messages.each do |message| %>
  <tr>
    <td class="text-center">
      <div class="face-icon" style="background-image:url(<%= message.staff.image.try(:attached?) ? url_for(message.staff.image) : '' %>);"></div>
      <p><%= message.staff.try(:staffname) %></p>
    </td>
    <td><%= message.customer_name %></td>
    <td><%= message.phone_number %></td>
    <td class="text-center"><%= message.send_date.strftime('%Y/%m/%d %H:%M:%S') %></td>
    <% if message.send_requested_at.present? && message.status == "requested" %>
      <td class="text-center">
        送信予約：
        <br>
        <%= message.send_requested_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </td>
    <% else %>
      <td class="text-center"><%= convert_message_status(message.status) %></td>
    <% end %>
    <td class="text-center">
      <%= link_to '削除', message_path(message), data: { confirm: '本当に削除しますか？' }, method: :delete, class: 'btn btn-sm btn-default' %>
    </td>
  </tr>
<% end %>
