<%= content_for :additional_script do %>
  <%= javascript_include_tag 'components/widgets' %>
<% end %>

<% unless can? :index, Setting::WidgetsController %>
  <section class="content">
    <div class="row">
      <%= render 'shared/setting_sidebar' %>
      <div class="col-md-9 col-sm-9">
        <div class="box">
          <div class="box-header">
            <b>widget設定</b>
          </div>
          <div class="box-body">
            <div class="form-group">
              <p><%= I18n.t('user.restricted_function') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="content">
    <div class="row">
      <%= render 'shared/setting_sidebar' %>
      <div class="col-md-9 col-sm-9">
        <div class="box">
          <div class="box-header">
            <b>widget設定</b>
          </div>
          <div class="box-body">
            <div class="form-group">
              <small><label>案件名</label></small>
              <div class="business-select-tag">
              <%= select_tag :business_id,
                options_from_collection_for_select(Business.accessible_by(current_ability), "id", "name", @business.try(:id)),
                include_blank: "選択する", class: "form-control widgets-business select2" %>
              </div>
            </div>
            <div class="form-group restricted" style='display: none;'>
              <%= check_box_tag 'restricted', false, checked = false  %>
              星3以上の口コミのみを表示する
            </div>
            <div class="form-group">
              <small><label>以下のコードを、ウェブサイトに添付することで、ウィジェットを表示することが出来ます。 </label></small>
              <pre id="script_widget"</pre>
            </div>
            <b>表示イメージ</b>
            <p>以下のように表示されます。</p>
            <div class="preview"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
