<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <%= wicked_pdf_javascript_include_tag 'application' %>
    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js') %>
    <%= javascript_include_tag('https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels') %>
    <%= wicked_pdf_javascript_include_tag 'components/pdf' %>
    <%= yield :additional_script %>
    <%= yield :additional_stylesheet %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
